body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(255, 2, 2); text-decoration: none;}
.bar {
    background-color: #050539;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
#dupla{
    width: 280px;
    padding-left: 400px;
}
.navbar {
    display: flex;
}
.main{
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(182, 4, 4), black);
}
.content {
    max-width: 1550px;
    margin: 0;
    grid-gap: 3rem;
    display: grid;
    gap: 0;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);

}
.footer {
    min-height: 100px;
    border-top: solid 1px black;
}
.anchors {
    border-right: none;
    background: linear-gradient(90deg, rgb(0, 0, 0), blue); 
    padding-left: 70px;
}
.sidebar {
    border-right: solid 1px black;
    padding-left: 10px;
    background: linear-gradient(90deg, blue, rgb(0, 0, 0));
}
figure {
    text-align: center;
}
p {
    color: aliceblue;
    font-size: 20px;
    padding: 30px;
}
h1{
    color: antiquewhite;
    padding-left: 45px;
}